*{
    margin: 0;
    padding: 0;
    color: white;
}
#navbar{
    height: 20px;
    background-color: rgb(48, 5, 5);
    padding: 10px;
}
#but{
    background-color: rgb(150, 150, 8);
}
#logo{
    color: #f08804;
}
a{
    margin-right: 250px;
    
    text-decoration: none;
}